body{
    background-color:#cfc5a5 ;
    margin: 4%;
}
header {

    background-color:#f7d9d9 ;
    color: rbga(235,224,220,0.78);
    height: 100px;

}
header nav{ 
    float: right;
    width: 25%;
    margin-top: 35px;
}

header nav ul li{
    display: inline-block;
    margin-left: 6%;
}
header nav ul li a{
    color:#46740e;
    text-decoration: none;
}
header h1 { 
    float: left;
    margin: 30px 0 0 1%
}
#first{
    width: 30%;
    height:70px;
    background-color: #fbe6c2;
    text-align: center;
    font-weight: bold;
}
#second{ height: 400px;
    width: 400px;
}
footer{
    background-color: darkgray;
    text-align: center;
    font-size: 30px;
    vertical-align: bottom;
    line-height: 100px;
}
